td{
    font-size: 20px;
}

input[type=text],[type=number],[type=email]{
    margin:10px;
    border-radius: 15px;
}

input[type=submit]{
    margin-top: 20px;
    border-radius: 20px;
    font-size: 18px;
    background: coral;
    

}
#btn-voltar{
    margin-left: 260px;  
    margin-bottom:20px;
    font-size: 18px;
}