<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/firstpage.css">
    <link href="..">
    <title>Estatísticas Quiz COVID-19</title>
</head>

<body>
    <header>
        <h1>Estatísticas</h1>
</body></br>
</header>
<section class="w-50 p-3 mx-auto border card">
    <div class="p-3 mb-2 bg-info text-white">
        <h2> Quantidade de pessoas que respoderam: </h2>
        <td>{{ totais | safe }}</td>
        <br />

        <h2> Quantidade de pessoas que acham que cães e gatos podem infectar os donos: </h2>
        <td>{{ totaisdois | safe }}</td>
        <br />

        <h2> Quantidade de pessoas que achão que não é possível que o vírus se mantenha vivo em pacotes enviados por
            correio: </h2>
        <td>{{ totaistres | safe }}</td>
        <br />

        <h2> Pessoas entre 20 e 40 anos que acreditão que as pessoas mais jovens e bebês são os que estão mais
            vuneráveis ao COVID-19: </h2>
        <td>{{ totaisquatro | safe }}</td>
        <br />

        <div style="margin-left: 50px;">
            <input class="btn btn btn-light" type="submit" value="Voltar" name="validar"
                onclick="window.location.replace('/resultado')">
        </div>
    </div>
</section>
</body>

</html>