<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/firstpage.css">
    <title>Bem-vindo ao Quiz COVID-19</title>
</head>

<body>
    <header>
        <h1>COVID QUIZ</h1>
    </header>
    <section class="w-50 p-3 mx-auto border card">
        <div class="p-3 mb-2 bg-info text-white">
            <h2>
                Bem-vindo ao COVID QUIZ, aqui você poderá testar seus conhecimentos
                referente a pandemia do Covid-19. Clique em Preencher Formulário para responder as perguntas
                e caso queira contribuir com o nosso projeto e visualizar o gabarito de respostas logo após responder as
                10 insira algumas informações.
                Obrigado e boa sorte!
            </h2>
            <input class="btn btn btn-light" type="submit" value="Preencher Formulário"
                onclick="window.location.replace('/formincluir')">

        </div>
    </section>
</body>

</html>