<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="firstpage.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="title">
        <h1>COVID QUIZ</h1>
    </div>
    <div class="container">
        <div class="text">
            <p> Bem-vindo ao COVID QUIZ, aqui você poderá testar seus conhecimentos<br>
                referente a pandemia do Covid-19. Clique em entrar para se cadastrar<br>
                e ser direcionado para a página do Quiz.
            </p>
        </div>  

        <div class="button">
            <a href="formIncluir.html" class="botao">Entrar</a>
        </div>
    </div>
</body>
</html>