body{
    background-color: purple;
    
    
}
.title h1{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    font-family: Cursive;
    color: white;
    font-size: 80px;
    
}
.container{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;;
    background-color: orange;
    font-family: Roboto;
    color: white;
    font-size: 18px;

}
.text{
    margin-bottom: 20px;
}

.botao{
    
    text-decoration: none;
	background: purple;
	color: white;
	font-family: Arial;
	font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
	border-radius: 10px;
}