body{
    background-color: purple;
}
.container{
    margin: auto;
    text-align: center;
    background-color: orange;
    padding: 40px;
    margin: 50px;
    margin-top: 120px;
}

.form{
    margin: auto;
    text-align: center;
}