<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/incluir.css">
   <title>Inclusão de Usuários</title>
</head>
<body>
   <header>
        <h1>Inclusão de Usuários</h1>
   </header>
   <hr/>
   <section class="w-50 p-3 mx-auto border card" >
       <div class="p-3 mb-2 bg-info text-white">
            <h2>{{ msg }}</h2>
            <hr/>
            <br/>
             <input class="btn btn btn-light" type="submit" value="Questões" name="validar" onclick="window.location.replace('questions.html')")>
       </div>
   </section>
</body>
</html>
