<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questões</title>
    <link rel="stylesheet" href="../static/questions.css">
</head>
<body>
    <div class="perguntas">
        <form NAME="Quiz Covid19">
<h1>Cada Questão Vale 1 Ponto</h1>
<p>
<h2>1-	É possível transmitir coronavírus com um aperto de mão.</h2>
<input TYPE="RADIO" NAME="questao1" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao1" VALUE="F"> Falso

<h2>2-	O coronavírus mata mais do que a varíola.</h2>
<input TYPE="RADIO" NAME="questao2" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao2" VALUE="F"> Falso

<h2>3-	 Cães e gatos podem infectar os donos.</h2>
<input TYPE="RADIO" NAME="questao3" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao3" VALUE="F"> Falso

<h2>4-	 O vírus consegue sobreviver por dois meses no ambiente. (falso)</h2>
<input TYPE="RADIO" NAME="questao4" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao4" VALUE="F"> Falso

<h2>5- Coronavírus é uma família de vírus que
    pode causar doenças em animais ou humanos.
    Em humanos, esses vírus provocam infecções
    respiratórias que podem ser desde um
    resfriado comum até doenças mais severas</h2>
<input TYPE="RADIO" NAME="questao5" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao5" VALUE="F"> Falso

<h2>6-É errado dizer que a vacina contra a gripe(influenza) protege também contra o Covid-19</h2>
<input TYPE="RADIO" NAME="questao6" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao6" VALUE="F"> Falso

<h2>7-Os sintomas mais comuns da COVID-19 são
    febre, cansaço e tosse seca. Alguns
    pacientes podem também apresentar dores,
    congestão nasal, coriza e dor de garganta.</h2>
<input TYPE="RADIO" NAME="questao7" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao7" VALUE="F"> Falso

<h2>8-Não é possível que o vírus se mantenha vivo em pacotes enviados por correio</h2>
<input TYPE="RADIO" NAME="questao8" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao8" VALUE="F"> Falso

<h2>9-Um período de incubação é o tempo entre ser
    infectado e o início dos sintomas da doença. O
    intervalo pode estar entre um e 30 dias.</h2>
<input TYPE="RADIO" NAME="questao9" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao9" VALUE="F"> Falso

<h2>10-Pessoas jovens e bebês são os que estão mais vuneráveis ao COVID-19</h2>
<input TYPE="RADIO" NAME="questao10" VALUE="V"> Verdadeiro
<input TYPE="RADIO" NAME="questao10" VALUE="F"> Falso<br><br>

<input TYPE="BUTTON" NAME="validar" VALUE="Verificar Pontuação"
onclick="resultado(this.form)">

</p>
</form>
    </div>
<script>

    var ponto=0;
    function pontuacao(form) {
     for (var i=0;i<form.length;i++){
      if (form[i].checked){
       break
      }
     }
     var resposta=""
     if (i<form.length){
      resposta = form[i].value
     }
     return resposta;
    }

    function resultado(form) {
     var pontos=0

     if (pontuacao(form.questao1)=="V") {pontos+=1}
     if (pontuacao(form.questao2)=="F") {pontos+=1}
     if (pontuacao(form.questao3)=="F") {pontos+=1}
     if (pontuacao(form.questao4)=="F") {pontos+=1}
     if (pontuacao(form.questao5)=="V") {pontos+=1}
     if (pontuacao(form.questao6)=="V") {pontos+=1}
     if (pontuacao(form.questao7)=="V") {pontos+=1}
     if (pontuacao(form.questao8)=="V") {pontos+=1}
     if (pontuacao(form.questao9)=="F") {pontos+=1}
     if (pontuacao(form.questao10)=="F") {pontos+=1}
       alert(`Parabens seu Resultado foi ${pontos} Pontos`)
    }

    </script>
</body>
</html>