<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questões</title>
    <link rel="stylesheet" href="../static/questions.css">
</head>
<body>
    <div class="perguntas">
        <h2>1-	É possível transmitir coronavírus com um aperto de mão. (verdadeiro)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>2-	O coronavírus mata mais do que a varíola. (falso)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>3-	 Cães e gatos podem infectar os donos. (falso)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>4-	 O vírus consegue sobreviver por dois meses no ambiente. (falso)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>5- Coronavírus é uma família de vírus que
            pode causar doenças em animais ou humanos.
            Em humanos, esses vírus provocam infecções
            respiratórias que podem ser desde um
            resfriado comum até doenças mais severas (verdadeiro)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>6-É errado dizer que a vacina contra a gripe(influenza) protege também contra o Covid-19</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>7-Os sintomas mais comuns da COVID-19 são
            febre, cansaço e tosse seca. Alguns
            pacientes podem também apresentar dores,
            congestão nasal, coriza e dor de garganta.(Verdadeiro)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>8-Não é possível que o vírus se mantenha vivo em pacotes enviados por correio(verdadeiro)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>9-Um período de incubação é o tempo entre ser
            infectado e o início dos sintomas da doença. O 
            intervalo pode estar entre um e 30 dias.(falso)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>

        <h2>10-Pessoas jovens e bebês são os que estão mais vuneráveis ao COVID-19(falso)</h2>
        <input type="radio" name="opçao" id="verd" checked>
        <label>Verdadeiro</label>
        <input type="radio" name="opçao" id="fals">
        <label>Falso</label>
        <br>
        <input class = "botão" type="submit" value="Enviar"/>
    </div>
    
</body>
</html>