<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/firstpage.css">
    <title>Bem-vindo ao Quiz COVID-19</title>
</head>

<body>
    <header>
        <h1>COVID QUIZ</h1>
    </header>
    <section class="w-50 p-3 mx-auto border card">
        <div class="p-3 mb-2 bg-info text-white">
            <h2>
                Muito Obrigado pela contribuição, abaixo você pode conferir o gabarito e ver algumas estatísticas
                geradas pelas respostas do formulário
            </h2>

            <input class="btn btn btn-light" type="submit" value="Gabarito" name="gabarito"
                onclick="window.location.replace('/gabarito')">
            <input class="btn btn btn-light" type="submit" value="Estatisticas" name="estatisticas"
                onclick="window.location.replace('/estatisticas')">

        </div>
    </section>
</body>

</html>