<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/crud_exercicio.css" rel="stylesheet" type="text/css">
   <title>Parâmetros de Consulta de Exercício</title>
</head>
<body>
   <h1>Parâmetros de consulta de Exercício</h1>
   <hr/>
   <form action="/consultar" method="post">
       <table>
           <tr>
               <td>Nome do Usuário:</td>
               <td>{{ nome | safe }}</td>
           </tr>
           <tr>
               <td>Faixa de Mensalidade:</td>
               <td>
                   <input type="number" name="ini" size="10" min="0.01" max="99999999.99" step="0.01" value="{{ idade }}" required/>
                   <input type="sexo" name="fim" size="10" min="0.01" max="99999999.99" step="0.01" value="{{ sexo }}"required/>
               </td>
           </tr>
       </table>
       <br/>
       <input type="submit" value="Consultar Usuário"/>
   </form>
   <br/>
   <hr/>
   <br/>
   <a href="/"> Voltar ao Menu </a>
</body>
</html>

